{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10 ">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Welcome to TashaGram
        </h2>
        <a href="/home" class='bg-primary_red py-1 px-3 md:text-lg rounded-md'>Home</a>
        <a href="/login" class='bg-primary_red py-1 px-3 md:text-lg rounded-md'>
            Login
        </a>
    </div>
    
</section>

{% endblock %}