{% extends 'base.html' %}
{% load static %}

{% block content %}

{% comment %} {% if profile_of_user %}
<div >
<div class="container">
    <div class="d-flex header justify-content-around align-items-center my-3">
        <img src="{{profile.profile_picture.url}}" width="22" height="22" class="rounded-circle" alt="..."
            style="width: 55px; height: 55px" />
        <div class="d-flex justify-content-around align-items-center" style="width: 50vw">
            <div class="d-flex flex-column">
                <h5>Posts</h5>
                <h5>{{posts_num}}</h5>
            </div>
            <div class="d-flex flex-column">
                <h5>Followers</h5>
                <h5>{{profile.followers.count}}</h5>
            </div>
            <div class="d-flex flex-column">
                <h5>Following</h5>
                <h5>{{profile.followings.count}}</h5>
            </div>
        </div>
    </div>
    {% for post in posts%}
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2" >
            <div class="card">
                <div class="card-header">
                    <strong>@{{post.user.username}}</strong>
                </div>
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="..." />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                </div>
                    <div class="card-body">
                        <p class="card-text">{{post.description}}</p>
                        <p class="card-text">
                            <small class="text-muted">{{post.date}}</small>
                        </p>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %} {% endcomment %}

        {% for post in posts %}
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-2">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{post.image.url}}" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Flowers</h5>
                        <p class="card-text">{{post.description}}</p>
                    </div>
                    <div class="card-footer d-flex flex-row justify-content-between">
                        <form action="dislike" method="POST">
                            {% csrf_token %}
                            <input type="text" name="image" value="{{x.id}}" style="display: none;">
                            <button type="submit" class="btn btn-danger">Dislike</button>
                        </form>
                        <form action="like" method="POST">
                            {% csrf_token %}
                            <input type="text" name="image" value="{{x.id}}" style="display: none;">
                            <button type="submit" class="btn btn-danger">Like</button>
                        </form>
                        <div>
                            {% if user == post.user %}
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="post-id" value="{{post.id}}">Delete</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        {{post.created_at}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        {% comment %} {% endif %} {% endcomment %}
</div>
</div>
{% endblock %}



